= link_to "Voupe Short", admin_sites_path, :class => "brand"
.nav-collapse.collapse
	%ul.nav
		%li.dropdown
			%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
				Sites
				%b.caret
			%ul.dropdown-menu
				%li= link_to "New Site", new_admin_site_path
				%li.divider
				- Site.all.each do |site|
					%li= link_to raw("<b>#{site.name} - #{site.domain}</b> (#{site.urls.size})"), admin_site_path(site)
		%li= link_to "URLS", admin_urls_path