- content_for :title_header do
	= link_to "Edit Site", edit_admin_site_path(@site), :class => "btn", :style => "float: right; position: relative; top: -45px;"

	= form_tag admin_site_path(@site), :method => :get, :style => "margin-right: 15px; float: right; position: relative; top: -45px;" do
		= text_field_tag :search, params[:search], :placeholder => "Search URLs", :style => "width: 125px"

.well.span12
	<b>Tweetbot Custom URL Shortener:</b> http://#{@site.domain}/api/#{@site.uuid}/new?url=%@

%table.table.table-striped.table-bordered
	%thead
		%tr
			%th Long URL
			%th Short URL
			%th Clicks
			%th
	%tbody
		- if @urls.present?
			- @urls.each do |url|
				= content_tag_for(:tr, url) do
					%td.long_url
						%p= url.long_url
					%td= link_to url.full_short_link, url.full_short_link
					%td= url.clicks.size
					%td= link_to "X", admin_site_url_path(@site, url), :method => :delete, :data => {:confirm => "Are you sure?"}
		- else
			%tr
				%td{:colspan => "4", :style => "text-align: center; font-style: italic;"} No URLs Found

= will_paginate @urls